
<div class+ "container-fluid"

<h1>User Groups</h1>

<table class="table table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th class="bg-primary">Boat Assigned</th>
        <th class="bg-primary">Shares</th>
        <th class="bg-primary">Credits</th>
      </tr>
		</thead>
	<% @groups.each do |group| %> 
	<tbody>
			<tr>
				<td><button><a href= "/groups/<%= group.id %>/edit"> Edit </a></button>  <%= group.boat_assigned %></td>
				<% if group.full_share %>
				<td> Full Share</td>
				<% else group.two_thirds_share %>
				<td>Two Thirds Share</td>
				<% end %>
				<td><%= group.credits %></td>
			</tr>


		</tbody>


	<% end %>

</table>
</div>
